
.no-active {
 background-color: #decafd;
 color: var(--bs-blue);
}

.no-categoria {
    border-radius: 6px;
    padding: 6px;
    background-color: #f3ecff;
}

.no-favorito {
    background-color: #f3ecff;
}