<div class="menu pt-2 pb-2 text-center">
  <perfect-scrollbar [autoPropagation]="true" style="height: 97vh" class="bg-light rounded">
    <div
    class="">
    <a
      class="d-block p-3 link-dark text-decoration-none">
    <img src="./assets/png/logo.png" alt="logo" height="42" width="42">
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item item-menu mb-1">
        <a
          routerLink="/inicio/copy"
          routerLinkActive="active"
          class="nav-link py-3 border-bottom bg-gradient"
          title="Copis"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Copis">
          <span class="material-symbols-rounded fs-3">content_copy</span>
        </a>
      </li>
      <li class="nav-item item-menu mb-1">
        <a
          routerLink="/inicio/sigla"
          routerLinkActive="active"
          class="nav-link py-3 border-bottom bg-gradient"
          title="Siglas"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Siglas">
          <span class="material-symbols-rounded fs-3"> font_download </span>
        </a>
      </li>
    </ul>
    <!-- <div class="dropdown border-top">
      <a
        href="#"
        class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
        id="dropdownUser3"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt="mdo"
          width="24"
          height="24"
          class="rounded-circle"
        />
      </a>
      <ul
        class="dropdown-menu text-small shadow"
        aria-labelledby="dropdownUser3"
        style=""
      >
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div> -->
  </div>
  </perfect-scrollbar>
  
</div>
