
// .menu {
//     display: grid;
//     flex-wrap: nowrap;
//     height: 100vh !important;
//     max-height: 100vh;
//     overflow-x: auto;
//     overflow-y: hidden;
// }

.item-menu:hover{
    color: rgba(0,0,0,0.85) !important;
    background-color: rgba(#6710f282, 0.1) !important;
    border-radius: 8px;
}